.city-side-infos-container {
    background-color: #041821bd;
    position: absolute;
    top: 0;
    right: -1000px;
    height: 100%;
    z-index: 500;
    width: 50vw;
    overflow: scroll;
    transition: right 0.5s;
    -webkit-transition: right 0.5s;

    .city-side-infos-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 40px;
        font-size: 2.5em;

        .quit-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .circle-svg {
                position: absolute;
                z-index: 2;
        
                .outer {
                    fill: transparent;
                    stroke: white;
                    stroke-width: 1.5;
                    stroke-dasharray: 100;
                    stroke-dashoffset: 100;
                    transition: stroke-dashoffset 0.5s;
                }
            }
        }

        .quit-icon:hover .circle-svg .outer {
            stroke-dashoffset: 0 !important;
        }
    }

    .city-side-infos-subtitle {
        padding: 0 40px;
        margin-bottom: 20px;
    }

    .city-side-infos-content {
        padding: 40px;
        display: flex;
        justify-content: center;
    }

    // .city-side-infos-quit {
    //     position: absolute;
    //     top: 10px;
    //     right: 40px;
    // }
}

@media screen and (max-width: 900px) {
    .city-side-infos-container {
        width: 100vw;
        
    }
    .city-side-infos-subtitle, .city-side-infos-content {
        width: 80%;
        margin-left: 10%;
    }
}