.genre-maps-container {
    width: 90%;
    margin-left: 5%;
    margin-top: 340vh;

    .genre-maps {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .genre-map {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10vh;
        }
    }

    .genre-maps-title {
        // font-size: 1.2em;
        padding: 20px 25px;
        margin-bottom: 50px;
    }
    svg {
        pointer-events: auto;
    }
}

@media screen and (max-width: 900px) {
    .genre-maps-container {
        margin-top: auto !important;

        .genre-maps-title {
            font-size: 1.5em;
        }
    }
}