.genres-container {
    // height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    .genres-header {
        display: flex;
        padding: 20px 50px;
        height: 20vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // .genres-header-title {

        // }

        .genres-header-text {
            width: 60%;
            font-size: 1.2em;
        }
    }

    .genres-content {
        flex-grow: 1;
        margin-top: 50px;
        // background-color: pink;
        // min-height: 80vh;
    }
}