.separator-container {
    width: 100%;
    height: 40vh;
    margin: 10vh 0;

    .separator-content {
        width: calc(50% - 1px);
        height: 100%;
        border-right: white solid 2px;
    }
}